.navbar {
  background: khaki;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.menu-list li {
  padding: 10px;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.logo-container img {
  height: 80px;
}
.login-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.product-all {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
}
.product-detail {
  width: 1200px;
  margin: auto;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  margin: auto;
}
.login-form input {
  padding: 10px;
}
.login-form button {
  display: block;
  height: 40px;
}

P {
  margin: 0;
  padding: 0;
}